* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(181, 181, 181);
}

.header {
    height: 125px;
    color: rgb(208, 208, 208);
    background: linear-gradient(rgb(28, 28, 28),rgb(181, 181, 181));
    text-align: center;
    font-size: 50px;
   
}

.container {
    border: 2px solid black;
    box-shadow: 5px 10px 5px rgb(106, 106, 106);
    border-radius: 5px;
    width: 45%;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
    height: 400px;
    line-height: 1.5;
    background-color: lightgray;
    
}

#subtitle1 {
    text-align: center;
    font-size: 30px;
    
}

img {
    position: absolute;
    top: 0;
    right: 0;
}

#footy {
    border-top: 5px solid rgb(28, 28, 28);
    height: 70px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: lightgray;
    
}

