* {
    padding: 0;
    margin: 0;
}

body {
    background-color: skyblue;
}

.header {
    height: 125px;
    background: linear-gradient(rgb(255, 123, 0),skyblue);
    text-align: center;
    font-family: "Trade Winds", sans-serif;
    font-size: 50px;
   
}

.container {
    border: 1px solid black;
    width: 45%;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
    height: 400px;
    line-height: 1.5;
    background-color: rgb(89, 171, 204);
    
}

#subtitle1 {
    font-family: "Trade Winds", sans-serif;
    text-align: center;
    font-size: 30px;
    
}

#subtitle2 {
    font-family: "Trade Winds", sans-serif;
    
}

#img1 {
    float: right;
    margin-top: 50px;
    width: 45%;
    height: 405px;
    margin-right: 20px;
    border: 8px solid rgba(255, 123, 0, 0.582);
}

#footy {
    border: 1px solid black;
    height: 70px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-image: url(../images/36281.jpg);
    
}

